<!doctype html>

<html>
<head>
	<title>paperworm</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/paperworm.css" rel="stylesheet">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->       

</head>

<body>

	<!-- html and css from bootsnip.com -->
	<div class="container">

		<h1>Welcome to Paperworm</h1>
		<form class="form-signin" method="get" action="/loginAfter">
			<input type="text" class="form-control" name="username" id="usernameField" placeholder="Enter your SUNetID to start" required="" autofocus="">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				Login
			</button>
		</form>

	</div>




	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/paperworm.js"></script>
	<script src="/js/rangy/rangy-core.js"></script>
	<script src="/js/rangy/rangy-cssclassapplier.js"></script>
	<script src="/js/rangy/rangy-highlighter.js"></script>
	<script src="/js/rangy/rangy-selectionsaverestore.js"></script>
	<script src="/js/rangy/rangy-serializer.js"></script>
	<script src="/js/rangy/rangy-textrange.js"></script>

</body>
</html>