/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h4, h5 {
	color: #0066ff;
}


h3 {
	color: #3385ff;
}

.tab-content {
	border: 1px solid #dddddd;
	border-top: none;
	padding: 15px;
}

.paper-image {
	margin: 10px auto;
	border: 3px solid #3385ff;
}

object {
	width: 100%;
	height: 1000px;
}
