/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h4, h5 {
	color: #0066ff;
}


h3 {
	color: #3385ff;
}

.tab-content {
	border: 1px solid #dddddd;
	border-top: none;
	padding: 15px;
}

.paper-image {
	margin: 10px auto;
	border: 3px solid #3385ff;
}

object {
	width: 100%;
	height: 1000px;
}

.note-head, .note-body {
	padding: 5px;
}

.note-head {
	padding-bottom: 2px;
	border-bottom: 1px dashed #aaaaaa;
	background-color: #98AFC7;
}

.note {
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	margin-bottom: 10px;
}

.note-head h4 {
	color: #000000;
}

.topbar {
	padding-top: 10px;
}

#authors {
	color: #347235;
}

.paper-details h5 {
	color: #000000;
}

td {
	padding: 5px;
}

.citation-modal {
	padding-top: 5px;
}

.paper-thumbnail {
	border: 1px solid #aaaaaa;
	border-radius: 2px;
	padding: 5px;
	background-color: #E5E4E2;
	margin: 5px;
}

#side-pad {
	background-color: #E5E4E2;
	height: 100%;
}

.icon-img {
	width: 20px;
	height: 20px;
}

.side-bar {
	position: fixed;
	top: 50%;
	width: 40px;
	right: 10px;
}

.reading-pad {
	position: relative;
	margin-top: 10px;
}

body {
	padding-top: 70px;
}

.highlightText {
	background: yellow;
}

#hCollapseButton {
	color: black;
}

#hiliPanelHead {
	background: #FFFF99;
	border-color: #FFFF99;
	color: black;
}

#notePanelHead {
	background: #99CCFF;
	border-color: #99CCFF;
	color: black;
}

#glosPanelHead {
	background: #99CC66;
	border-color: #99CC66;
	color: black;
}

#nCollapseButton {
	color: black;
}

.text-para {
	font-family: "Times New Roman", Times, serif;
	text-align:justify;
	text-justify:inter-word;
}

.image-label {
	text-align: center;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}